/* Importação de fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    background-color: #1e1e1e;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    flex: 0;
    min-width: 110px;
}

.logo img {
    max-width: 70%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 8px 12px;
}

.navbar a:hover {
    color: #fbc531;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    min-width: 120px;
}

.icons img {
    margin-left: 15px;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    transition: transform 0.2s ease;
}

.title span {
    color: #f39c12;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 2rem 0;
    background: #f9f9f9;
    overflow: hidden;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 300px;
    margin: 0 10px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    flex-shrink: 0;
}

.carousel-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 10;
}

.carousel-btn.left {
    left: 5px;
}

.carousel-btn.right {
    right: 5px;
}

.rodape{
    background-color: #1e1e1e;
    color: white;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
}